<!-- views/challenge.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/header %>
	<script src="javascripts/challenge.js"></script>
</head>

<body>

<% include partials/navbar %>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<span>
			<% if (locals.challenges_list && locals.challenges_list.length > 0) { %>
				You have <%= locals.challenges_list.length %> challenge(s) from:
			<% } else { %>
				You have 0 challenge(s).
			<% } %>
			</span>

			<% if (locals.challenges_list && locals.challenges_list.length > 0) { %>
			<ul class="list-group">
			<% for (var i = 0; i < locals.challenges_list.length; i++) { %>
				<a class="list-group-item" href="/challenge?reply=1&opponent=<%= locals.challenges_list[i] %>"><%= locals.challenges_list[i] %></a>
			<% } %>
			</ul>
			<% } %>
			
			<br/><br/>
			<span>
			<% if (locals.unanswered_list && locals.unanswered_list.length > 0) { %>
				You have <%= locals.unanswered_list.length %> unanswered challenge(s) to:
			<% } else { %>
				You have 0 unanswered challenge(s).
			<% } %>
			</span>

			<% if (locals.unanswered_list && locals.unanswered_list.length > 0) { %>
			<ul class="list-group">
			<% for (var i = 0; i < locals.unanswered_list.length; i++) { %>
				<a class="list-group-item"><%= locals.unanswered_list[i] %></a>
			<% } %>
			</ul>
			<% } %>
		</div>
		<div class="col-md-6" align="left">
			<div style="float:left">
				<input class="form-control" type="text" id="user_search" placeholder="Search for user">
			</div>
			<div style="float:left">
				<button id="search" class="btn">Search</button>
			</div>
			<div style="float:left; margin-left:20px">
				<select class="form-control" style="width:100px; margin-left:20px;">
					<option id="diff-easy" value="easy">Easy</option>
					<option id="diff-medium" value="medium">Medium</option>
					<option id="diff-hard" value="hard">Hard</option>
				</select>
			</div>
			<br/><br/>
			<ul class="list-group" id="user_list"></ul>
		</div>
	</div>
</div>

</body>
</html>
