<!-- views/user.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/header %>
</head>

<body>

<% include partials/navbar %>

<div class="container">
	<div class="row">
		<div class="col-sm-8" align="center">
			<h1><a class="<%=locals.stats.title %>"><%= locals.stats.username %></a></h1>

			<br/><br/>
			Your statistics:
			<br/><br/>

			<span>Rating: </span><%= locals.stats.rating %>
			<br/>
			<span class="win">Win: </span><%= locals.stats.win %>
			<span class="lose">Lose: </span><%= locals.stats.lose %>
			<span class="draw">Draw: </span><%= locals.stats.draw %>

			<br/><br/>

			<span>
			<% if (locals.recent && locals.recent[0]) { %>
				Most recent results:
			<% } %>
			</span>

			<% if (locals.recent && locals.recent.length > 0) { %>
			<ul class="list-group">
			<% for (var i = 0; i < locals.recent.length; i++) { %>
			<% if (locals.recent[i]) { %>
				<a class="list-group-item">
				<% if (locals.recent[i].verdict === 0) { %>
					<span class="win">WIN </span>
				<% } else if (locals.recent[i].verdict === 1) { %>
					<span class="lose">LOSE </span>
				<% } else { %>
					<span class="draw">DRAW </span>
				<% } %>

					against <%= locals.recent[i].opponent %></a>
			<% } %>
			<% } %>
			</ul>
			<% } %>
		</div>
		<div class="col-sm-4" align="center">
			<h1>Leaderboard</h1>

			<br/><br/>

			<table class="table table-bordered top-table">
				<thead>
					<tr>
						<th>#</th>
						<th>User</th>
						<th>Rating</th>
					</tr>
				</thead>
				<tbody>
					<% for (var i = 0; i < locals.top.length; i++) { %>
						<tr>
							<td><%= i+1 %></td>
							<td><a class="<%= locals.top[i].title %>" href="/user/<%= locals.top[i].username %>"><%= locals.top[i].username %></a></td>
							<td><%= locals.top[i].rating %></td>
						<tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>

</body>
</html>
